<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a new drink!</h1>
    <form action="/coffees" method="POST">
       <li><input type="text" name="name" placeholder="Drink Name"></li>
       <li><input type="text" name="price" placeholder="Price"></li>
       <li> <input type="text" name="description" placeholder="Description"></li>
       <li>Has Cream?<input type="checkbox" name="hasCream" </li>
       <li><input type="submit" value="Submit!"</li>
    </form>
</body>
</html>